<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session 11</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <style>
.accordion {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #0099CC; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

</style>
  </head>
  <body>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 bg-info text-white">
      <br>
      <br>
      <h1 class="text-center">Paris 2024: vitrine pour l'accessibilité dans les transports?</h1>
      <br>
      <br>
      <br>
     </div>
      <hr size="60">
  </div>
</div>
    </div>
    <br>
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 bg-white text-black">
    <br>
    <p class="text-center"> L’attribution des Jeux Olympiques et Paralympiques de 2024 à la ville de Paris a fait renaître les espoirs des personnes handicapées de voir un métro plus accessible circuler dans la capitale.</p>
<div id="app" class="container">


    <!-- Carte principale -->
    <main class="d-flex align-items-center justify-content-md-center" v-cloak>
      <div class="card">

        <!-- Carte lorsqu'il y a des questions -->
        <div class="card-body" v-if="current < quiz.length">
          <h4 class="card-title">{{ step.question }}</h4>

          <!-- Boutons pour les QCM -->
          <button v-if="step.choices" v-for="choice in step.choices" class="btn btn-lg btn-block" :class="buttonClasses(choice)" v-on:click="submitButton(choice)" :disabled="success === false">{{ choice }}</button>

          <!-- Champ de saisie pour les réponses libres -->
          <input type="text" ref="textInput" v-if="!step.choices" class="form-control" :class="{'is-valid': success === true, 'is-invalid': success === false}" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitText()"  :disabled="success === false">

          <!-- Résultat -->
          <p class="lead mt-2" v-if="success === true">Bien vu ! Réputé pour ses couloirs sans fins, jalonnés de zig-zag de marches, le métro s’apparente parfois à un réel parcours du combattant, autant pour les personnes à mobilité réduite que âgées ou avec poussette. Aujourd’hui, seulement 3% du métro parisien -les 9 stations de la ligne 14- sont certifiées accessibles.
            <a href="index2.html">Cliquez ici pour en savoir plus!</a>
</p>
          <p class="lead mt-2" v-if="success === false">Raté ! Réputé pour ses couloirs sans fins, jalonnés de zig-zag de marches, le métro s’apparente parfois à un réel parcours du combattant, autant pour les personnes à mobilité réduite que âgées ou avec poussette. Aujourd’hui, seulement 3% du métro parisien -les 9 stations de la ligne 14- sont certifiées accessibles.
            <a href="index2.html">Cliquez ici pour en savoir plus!</a>
 <span v-if="!step.choices">La réponse était {{ step.answer }}</span></p>
          

        <!-- Carte lorsque toutes les questions ont été complétées -->
        <div class="card-body" v-if="current == quiz.length">
          <h4 class="card-title">Vous avez terminé !</h4>
          <p class="card-text">Affiche le score ici !</p>
        </div>
      </div>
    </main>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="./quiz.js"></script> <!-- Ce script contient toutes les questions du quiz -->
  <script src="./app.js"></script>
<br>

    <script src="vendors/vue.min.js"></script>
    <script src="index.js"> 
    </script>
  </body>
</html>
